html {

    font-family: 'Helvetica', Arial, sans-serif;
}

h1 {
    color: $orange;
    background-color: white;
    padding: 20px 50px;
    font-size: 4em;
    font-weight: 600;
    margin: 0;
    width: 85%;
    margin-left: 17px;
}

h2 {
    font-size: 1.2rem;
    color: $orange;
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 2em;
        font-weight: bold;
        margin-left: 7px;
        width: 80%;
        padding-left: 17px;
    }

    h2 {
        font-size: 1.1rem;
    }
}