.section__form {

    &__request {
        label.form-check-label {
            font-weight: bold;
            color: #000;
            font-size: 18px;
        }

        label.form-check-label::before {
            content: 'Up';
            color: $white-color;
            background-color: $orange;
            font-size: 8px;
            padding: 2px;
            vertical-align: middle;
        }

        input[type="radio"] {
            margin-top: 8px;
            vertical-align: middle;
        }

    }

}

input.form-control {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 0;
    margin-bottom: 30px;
}

label {
    color: grey;
    margin-bottom: 20px;
}


.infos {
    background-color: lightgreen;
    padding: 20px;
    margin-top: 10px;
    font-size: 13px;
}

@media only screen and (max-width: 650px) {

    .form-check-inline {
        margin-right: -0.25rem;
    }

}
